<h1>Riddles of the Sphinx!</h1>

<p><%= @show_riddle %></p>

<form action="/output" method="post">
  <div class="form-group">
    <label for="answer">Answer: </label>
    <input id="answer" name="answer" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Submit!</button>
</form>
